{{define "content"}}

<div class="container text-center">
	<br />
	<img src="/public/img/hanabi.jpg">
	<br /><br />

	<button type="button" class="btn btn-lg btn-primary" id="login">Login / Register</button>
</div>

<script src="/public/js/login.js"></script>

{{end}}
