body {
	background: url(/public/img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.form-control { /* This is necessary for some reason because it wants to default to flat corners */
	-webkit-border-radius: 4px !important;
	   -moz-border-radius: 4px !important;
	        border-radius: 4px !important;
}

.vertical-align {
	display: flex;
	align-items: center;
}

canvas {
	display: block; /* To remove the scrollbars */
}
