{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div id="banner" class="container">
  <br />
  <img src="/public/img/hanabi.jpg">
  <br /><br />
</div>

<div id="error" class="container" style="display: none;">
  <p>An unexpected error occured:</p>
  <p id="error-message"></p>
</div>

<div id="login" class="container">
  <button class="btn" id="login">Login</button>
</div>

<div id="lobby" class="container" style="display: none;">
  <p>Current games:</p>
  <ul id="current-games"></ul>
</div>

<div id="hanabi" style="display: none;">
  <canvas id="hanabi-canvas" resize></canvas>
</div>

{{template "footer.html" .}}
